{% extends 'base.html.twig' %}

{% block title %}Visiteur !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 5em auto; max-width: 400px; width: 100%; font: 20px/1.5 sans-serif; position:absolute; margin-left: 38% ; }
    .box {background-color: #F4F6FC;}
</style>

<div class="example-wrapper">
    <div class="title is-2">{{ controller_name }}! <code>{{mois}}</code></div>

    <div class="box">
        <legend>Fiche Frais Forfais</legend>
{% for Fiche in FicheFrais.ligneFraisForfait %}
        <div class="box">
                libelle : {{Fiche.libelle}}</br>
                montant : {{Fiche.quantite}} 
        </div>
{% endfor %}
    </div>

    <div class="box">
        <legend>Fiche Hors Forfais</legend>
{% for Fiche in FicheFrais.ligneHorsForfait %}
        <div class="box">
                libelle : {{Fiche.libelle}}</br>
                montant : {{Fiche.montant}} 
        </div>
{% endfor %}
    </div>

        <button class="button is-info"><a href="/visiteur">Retour en arriere</a></button>

</div>
{% endblock %}