{% extends 'base.html.twig' %}

{% block title %}Visiteur !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 5em auto; max-width: 750px; width: 100%; font: 20px/1.5 sans-serif; position:absolute; margin-left: 25% ; }
    .box {background-color: #F4F6FC;}
</style>

<div class="example-wrapper">
    <div class="title is-2">{{ controller_name }}! <code>{{mois}}</code></div>

{######################## Liste Frais ########################}
    <div class="box">
	<legend>Frais Frais Forfait</legend>
{% for Fiche in FicheFrais.ligneFraisForfait %}
        <div class="box">
            <form method="POST">
                <input type="number" name="id" value="{{Fiche.id}}" style="display: none;">
                libelle :<input type="text" name="libelle" value="{{Fiche.libelle}}" readonly/>
                quantite :<input type="number" name="quantite" value="{{Fiche.quantite}}" />
                </br></br>
                <button type="submit" formaction="/visiteur/modifier-fraisforfais" class="button is-warning">modifier</button>
                <button type="submit" formaction="/visiteur/supprimer-fraisforfais" class="button is-danger">supprimer</button>
            </form>
        </div>
{% endfor %}
    </div></br>

{######################## Liste Hors ########################}

    <div class="box">
	<legend>Frais Hors Forfait</legend>
{% for Fiche in FicheFrais.ligneHorsForfait %}
        <div class="box">
            <form method="POST">
                
                <input type="number" name="id" value="{{Fiche.id}}" style="display: none;">
                libelle :<input type="text" name="libelle" value="{{Fiche.libelle}}" />
                montant :<input type="number" name="montant" value="{{Fiche.montant}}"/>
                </br></br>
                <button type="submit" formaction="/visiteur/modifier-fraishors" class="button is-warning">modifier</button>
                <button type="submit" formaction="/visiteur/supprimer-fraishors" class="button is-danger">supprimer</button>
            </form>
        </div>
{% endfor %}
    </div>

    <button class="button is-info"><a href="/visiteur/renseigner">Retour en arriere</a></button>
    <button class="button is-info"><a href="/visiteur/fiche-validee">Valider fiche frais</a></button>


    </div>
{% endblock %}
