{% extends 'base.html.twig' %}

{% block title %}Visiteur !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 5em auto; max-width: 400px; width: 100%; font: 20px/1.5 sans-serif; position:absolute; margin-left: 38% ; }
    .box {background-color: #F4F6FC;}
</style>


<div class="example-wrapper">
    <div class="title is-2">{{ controller_name }}! <code>{{mois}}</code></div>

{######################## Forfais ########################}

{% if libelles is not empty %}
    <div class="box">
	<legend>Frais Forfait</legend>
	
		<form action="/visiteur/renseigner/forfais" method="POST">
			Saisisez la quantitee :
			<input type="number" name="montant" required/><br/>

            Saisisez le Frais
            <select id="libelle" name="libelle">
			{% for l in libelles %}
                <option value="{{l.id}}">{{l.libelle}}</option>
			{% endfor %}
            </select><br/>

			<br/>
			<input type="submit" value="Valider" class="button is-primary"/>
		</form>	
		
	</div>
{% endif %}

{######################## Hors Forfais ########################}

	</br>
    <div class="box">
	<legend>Frais Hors Forfait</legend>
	
		<form action="/visiteur/renseigner/hors-forfais" method="POST">
			Saisisez le montant :
			<input type="number" name="montant" required/><br/>

			Saisisez le libelle :
			<input type="text" name="libelle" required/><br/>

			<br/>
			<input type="submit" value="Valider" class="button is-primary"/>
		</form>	
		
	</div>


{######################## Frais Valide ########################}
<script>

document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});

</script>


	<br/>
    {% if Frais is defined %}
	    <div class="notification is-success is-light">
  			<button class="delete"></button>
 			le frais: '<strong>{{Frais}}</strong>' à bien était ajouter
		</div>
    {% else %}
        <div class="notification is-warning is-light">
  			<button class="delete"></button>
 			 Aucun frais n'a etait ajouter à la fiche
		</div>
    {% endif %}


{######################## Fiche Valide ########################}
	
	<br/>
	<div class="button is-info"><a href="/visiteur">Retour en arriere</a></div>
	<div class="button is-info"><a href="/visiteur/finaliser-fiche">Finaliser la fiche</a></div>



</div>
{% endblock %}
